aiohttp==3.13.5
web3
eth-account
eth-hash
eth-keyfile
eth-keys
eth-rlp
eth-typing
eth-utils
eth_abi
hexbytes
rlp
pycryptodome
mnemonic

python-dotenv==1.0.1
pydantic==2.13.4
requests==2.31.0
pytest==9.0.3
pytest-cov==7.1.0
coverage==7.14.1

Jinja2==3.1.2
click==8.1.6
rich==13.7.1
websockets==15.0.1